*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
	font-family: "Give You Glory", cursive;
	color: #372602;
}
button {
	background: none;
	border: none;
	font-family: "Give You Glory", cursive;
	cursor: pointer;
}
ol,
ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: #372602;
}

.memory-game {
	height: 100vh;
	background-image: url(../images/illustrations/background/small/childs-room.png);
	background-size: cover;
	background-position: bottom;

	&__home-screen {
		position: relative;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&__in-game-screen {
		height: 100%;
		display: grid;
		grid-template-columns: 1fr 3fr 1fr;
		grid-template-rows: 6fr 1fr;
		padding: 0.4rem;
	}
	&__banner {
		position: absolute;
		text-align: center;
		transform: translateY(-7vh);
		&--position-top {
			transform: translateY(-35vh);
			& > .memory-game__title,
			.memory-game__subtitle {
				transform: scale(0.9);
			}
			& > .memory-game__subtitle {
				transform: translateY(-2vh);
			}
		}
	}
	&__title {
		font-size: 6.4rem;
		font-weight: 100;
		letter-spacing: 0.1rem;
		line-height: 93%;
	}
	&__subtitle {
		font-size: $font-xs;
		letter-spacing: 0.05rem;
	}
	&__home-screen-options-container {
		display: flex;
		gap: 3.2rem;
		padding-top: 8rem;
	}
	&__home-screen-option {
		font-size: $font-xs;
		letter-spacing: 0.05rem;
	}
	&__difficulty-options-window {
		position: relative;
		text-align: center;
		padding: 0rem 3rem;
		transform: translateY(4vh);
	}
	&__difficulty-option {
		font-size: $font-xs;
		margin-bottom: 0.4rem;
		letter-spacing: 0.05rem;
		cursor: pointer;
	}
	&__how-to-play-window {
		position: relative;
		transform: translateY(8vh);
		&--game-menu {
			width: revert;
			transform: revert;
		}
	}
	&__how-to-play-description {
		font-size: 0.8rem;
		letter-spacing: 0.03rem;
		max-width: 26rem;
	}
	&__heading {
		text-align: center;
		font-size: $font-s;
		margin-bottom: 0.8rem;
		letter-spacing: 0.08rem;
		&--game-menu {
			font-size: $font-xs;
			text-align: left;
		}
		&--end-of-game {
			margin: 0.4rem;
		}
	}

	&__close-btn {
		position: absolute;
		top: 0;
		right: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: $font-xxs;
		width: 1rem;
		height: 1rem;
		padding-top: 0.1rem;
		border: 0.1rem solid #372602;
		border-radius: 100%;
		cursor: pointer;
		&--game-menu {
			top: 0.4rem;
		}
		&--how-to-play-game-menu {
			width: 0.8rem;
			height: 0.8rem;
			font-size: 0.8rem;
		}
	}

	&__menu {
		position: relative;
	}
	&__menu-heading {
		font-size: $font-m;
		letter-spacing: 0.05rem;
		cursor: pointer;
		&--menu-open {
			pointer-events: none;
		}
	}
	&__menu-option {
		font-size: $font-xs;
		margin-bottom: 0.8rem;
		letter-spacing: 0.05rem;
		cursor: pointer;
	}
	&__user-action-warning {
		font-size: $font-xs;
		font-weight: 100;
		margin-bottom: 0.8rem;
		letter-spacing: 0.05rem;
		max-width: 8rem;
	}
	&__decision-option {
		font-size: $font-xs;
		font-weight: 100;
		cursor: pointer;
		&--confirm {
			margin-right: 1.6rem;
		}
	}
	&__contributor__list {
		display: flex;
		flex-direction: column;
		gap: 1.2rem;
		font-size: 0.8rem;
		letter-spacing: 0.03rem;
	}
	&__contributor__list a {
		font-size: $font-xxs;
		cursor: pointer;
		text-decoration: underline;
		// font-weight: 900;
	}

	&__board {
		grid-column: 2 / 3;
		grid-row: 1 /2;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__card-container {
		display: grid;
		grid-template-rows: repeat(4, 1fr);
		grid-template-columns: repeat(4, 1fr);
		grid-auto-flow: column;
		gap: 0.4rem;
		margin: 0.4rem;
		perspective: 1000px;
		&--game-paused {
			filter: blur(1.5px);
			pointer-events: none;
		}
	}
	&__turn-counter {
		grid-column: 3 / 4;
		justify-self: end;
		font-size: $font-s;
		letter-spacing: 0.05rem;
		&--game-paused {
			filter: blur(1.5px);
		}
	}
	&__end-of-game-window {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__result {
		font-size: $font-xs;
		margin-bottom: 1.6rem;
	}
}
.line-break {
	display: block;
	margin-bottom: 0.8rem;
}
.card {
	position: relative;
	width: 4rem;
	height: 5.6rem;
	transform-style: preserve-3d;
	transition: transform 1s;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px;
	cursor: pointer;

	&--flipped {
		pointer-events: none;
	}
	&--click-event-disabled {
		pointer-events: none;
	}

	&__face,
	&__back {
		position: absolute;
		width: 100%;
		height: 100%;
		width: 4rem;
		height: 5.6rem;
		pointer-events: none;
	}
	&__back {
		backface-visibility: hidden;
	}
}
@media only screen and (orientation: portrait) {
	body {
		transform: rotate(90deg);
	}
	.memory-game {
		width: 100vh;
		height: 100vw;
		&__home-screen {
			width: 100%;
		}
		&__banner {
			transform: translateY(-8vw);
			&--position-top {
				transform: translateY(-35vw);
				& > .memory-game__title,
				.memory-game__subtitle {
					transform: scale(0.9);
				}
				& > .memory-game__subtitle {
					transform: translateY(-2vw);
				}
			}
		}
		&__how-to-play-window {
			transform: translateY(8vw);
			&--game-menu {
				transform: revert;
			}
		}
		&__difficulty-selection-window {
			transform: translateY(4vw);
		}
	}
}

@media screen and (min-width: 639px),
	(min-height: 639px) and (orientation: portrait) {
	.memory-game {
		&__in-game-screen {
			padding: 0.8rem;
		}
		&__how-to-play-description {
			font-size: $font-xxs;
			letter-spacing: 0.03rem;
			max-width: 30rem;
		}
	}
	.card {
		width: 4.2rem;
		height: 5.88rem;
	}
}

@media screen and (min-width: 666px),
	(min-height: 666px) and (orientation: portrait) {
	.card {
		width: 4.3rem;
		height: 6.02rem;
	}
}

@media screen and (min-width: 719px),
	(min-height: 719px) and (orientation: portrait) {
	.card {
		width: 5rem;
		height: 7rem;
	}
}
@media screen and (width: 720px) and (height: 540px),
	(height: 720px) and (width: 540px) {
	.memory-game {
		background-image: url(../images/illustrations/background/small/childs-room-exc.png);
	}
}
@media screen and (min-width: 843px),
	(min-height: 843px) and (orientation: portrait) {
	.memory-game {
		&__title {
			font-size: 8rem;
		}
		&__subtitle {
			font-size: $font-s;
		}
		&__home-screen-options-container {
			padding-top: 12rem;
			gap: 4rem;
		}
		&__home-screen-option {
			font-size: $font-s;
		}
		&__heading {
			font-size: $font-m;
			&--game-menu {
				font-size: $font-s;
			}
		}
		&__how-to-play-description {
			font-size: $font-xs;
			max-width: 36rem;
		}
		&__difficulty-option {
			font-size: $font-s;
			margin-bottom: 0.8rem;
		}
		&__close-btn {
			font-size: $font-xs;
			width: 1.2rem;
			height: 1.2rem;

			&--how-to-play-game-menu {
				font-size: $font-xxs;
				width: 1rem;
				height: 1rem;
			}
		}
		&__menu-heading {
			font-size: $font-l;
		}
		&__menu-option {
			font-size: $font-s;
		}
		&__contributor__list {
			font-size: $font-xxs;
		}
		&__contributor__list a {
			font-size: $font-xs;
		}
		&__user-action-warning {
			font-size: $font-s;
			max-width: 12rem;
			margin-bottom: 1.6rem;
		}
		&__decision-option {
			font-size: $font-s;
			&--confirm {
				margin-right: 2.4rem;
			}
		}
		&__turn-counter {
			font-size: $font-m;
		}
	}
}
@media screen and (min-width: 925px),
	(min-height: 925px) and (orientation: portrait) {
	.card {
		width: 5.6rem;
		height: 7.884rem;
	}
}
// Edge cases:
@media screen and (max-height: 289px),
	(max-width: 289px) and (orientation: portrait) {
	.memory-game {
		&__banner {
			&--position-top {
				transform: translateY(-33vh);
				& > .memory-game__title,
				.memory-game__subtitle {
					transform: scale(0.9);
				}
				& > .memory-game__subtitle {
					transform: translateY(-2vh);
				}
			}
		}
		&__how-to-play-description {
			font-size: 0.8rem;
		}

		&__end-of-game-window {
			margin-top: 4.6rem;
		}
	}
	.card {
		width: 3.6rem;
		height: 5.04rem;
	}
}
@media screen and (max-width: 281px) and (orientation: portrait) {
	.memory-game {
		&__banner {
			&--position-top {
				transform: translateY(-33vw);
				& > .memory-game__title,
				.memory-game__subtitle {
					transform: scale(0.9);
				}
				& > .memory-game__subtitle {
					transform: translateY(-2vw);
				}
			}
		}
	}
}

@media screen and (min-width: 739px) and (max-height: 376px),
	(min-height: 739px) and (max-width: 376px) and (orientation: portrait) {
	.card {
		width: 4.6rem;
		height: 6.44rem;
	}
}
